@page
@model ConfigPortal.Pages.ConnectionStringModel
@{
    ViewData["Title"] = "ConnectionString";
    ViewData["ConnectionString"] = "";
}


<div class="name" style="z-index:0; font-size:23px; color:#736AFF; font-style:oblique; font-weight:bold">1) Generate Connection String</div>
<div class="jumbotron justify-content-md-center" style="z-index:30;">
    <form method="POST" name="conForm">
        <div class="form-group col-lg-6">
            <div class="name">Enter Server Name</div>
            <input class="form-control" type="text" asp-for="ServerName" placeholder="Ex. localhost,192.168.1.50" />
        </div>
        <div class="form-group col-lg-6">
            <div class="name">Enter Database Name</div>
            <input class="form-control" type="text" asp-for="DatabaseName" placeholder="Ex. ERP, ProjectManagementSystem" />
        </div>
        <div class="form-group col-lg-6">
            <div class="name">Enter Username</div>
            <input class="form-control" type="text" asp-for="UserName" placeholder="Username for database authentication" />
        </div>
        <div class="form-group col-lg-6">
            <div class="name">Enter Password</div>
            <input class="form-control" type="text" asp-for="Password" placeholder="Password for database authentication" />
        </div>



        <div>
            <button class="btn btn-success" type="submit">Save & Next</button>
            @*<label class="label--desc" style="margin-top:10px; margin-left:25px" asp-for="ConString">@Model.ConString</label>*@
        </div>
    </form>
</div>
