@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><a href="ConnectionString">Start Configuring your database</a>.</p>
        <p><a href="MappingPage">Mapping</a>.</p>
        <p><a href="CoumnMappingPage">CoumnMappingPage</a>.</p>
        <p><a href="ValidationPage">ValidationPage</a>.</p>
        
    </div>
