@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Open <a href="ConnectionString">Start Configuring your database</a>.</p>
</div>
