@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <style> 
        p{
            font-size:27px;
        }

         
        
    </style>
<body class="bg-dark"></body>
    <div class="text-center">
        <h1 class=" text-center  text-white alert-warning text-justify  container text-secondary pb-2" >Welcome</h1>
        <br />
        <br />
        <div>
            <p><a href="ConnectionString" class="text-white-50">Start Configuring your database</a></p>
            <p><a href="MappingPage"class="text-white-50">Mapping</a></p>
            <p><a href="CoumnMappingPage"class="text-white-50">CoumnMapping Page</a></p>
            <p><a href="ValidationPage"class="text-white-50">Validation Page</a></p>
            <p><a href="AuthenticationPage"class="text-white-50">Authentication Page</a></p>
        </div>
    </div>
    